.Student {
    width: 12rem;
    margin: 10px;
}

.Student tr {
    font-size: 0.8em;
}

.Student table {
    margin-bottom: 0 !important;
}

.Student table th {
    text-align: left;
}

.header {
    text-align: left;
    font-weight: bold;
}

.edit {
    text-align: right;
}